body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.wreapper {
    width: 1060px;
    margin: 0 auto;
}

.header {
    width: 1055px;
    margin-top: 49px;
    margin-bottom: 49px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.orange {
    background-color: #f26522;
}

.logo-img {
    width: 46px;
    height: 44px;
}

.header-first-word {
    font-size: 29px;
    font-weight: 700;
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
}

.header-second-word {
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.contacets {
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}

.galary-item {
    display: inline-block;
    margin-right: 73px;
    margin-bottom: 58px;
    position: relative;
}

.galary-item:hover .popup-galary {
    display: block;
    transition: all 1s linear;
}

.galary-item:hover .galary-text {
    color: #f26522;
}

.galary-img-link {
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
}

.galary-item:nth-child(3n) {
    margin-right: 0;
}

.galary-img-item {
    margin-bottom: 22px;
    height: 200px;
    width: 299px;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #f5f5f5 0%, #020302 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #f5f5f5 0%, #020302 100%);
    border-image: linear-gradient(to bottom, #f5f5f5 0%, #020302 100%);
    border-image-slice: 1;
}

.galary-text {
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
}

.galary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.text {
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.header-right-side-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 180px;
    text-decoration: none;
    
}

.header-right-side-link:hover .header-logo {
    background-image: url(../img/logo_orange.png);
    text-decoration: none;
}

.header-right-side-link:hover .header-first-word {
    color: #f26522;
}

.header-right-side-link:hover .header-second-word {
    color: #f26522;
}

.header-right-side-link:hover {
    color: #f26522;
}

.header-logo {
    width: 46px;
    height: 44px;    
    background-image: url(../img/logo.png);
}


.popup-galary {
    height: 47px;
    width: 241px;
    background-color: #f26522;
    position: absolute;
    top: 140px;
    display: block;
    opacity: 0;
    padding-left: 21px;
    padding-top: 16px;
    padding-right: 40px;
    transition: all 1s linear;
}

.popup-galary-from {
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 10px;
    font-weight: 400; //display: inline-block;
    margin-bottom: 7px;
}

.prise {
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}

.popup-galary-details {
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    text-transform: capitalize
}

.popup-galary-prise {
    display: inline-block;
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}

.galary-item:hover .popup-galary {
    opacity: 2;
}
